<app-sidebar></app-sidebar>

<div class="maincontent">
    <div class="main">
      <h1 data-aos="zoom-in" data-aos-duration="2000" style="text-align: left;">Order</h1>
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Order Id</th>
          <th scope="col">Date</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Phone</th>
          <th scope="col">OrderType</th>
          <th scope="col">Delivery City</th>
          <th scope="col">Payment Amount</th>
          <th scope="col">Status</th>
          <th scope="col">View</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of orderlist | paginate: { itemsPerPage: 5, currentPage: porders }; let i = index">
          <td>{{item.IdForCustomer}}</td>
          <td>{{item.DateofPayment}}</td>
          <td>{{item.RecepientName}}</td>
          <td>{{item.Phone}}</td>
          <td>{{item.OrderType}}</td>
          <td>{{item.City}}</td>
          <td>{{item.TotalAmount}}</td>
          <td>{{item.Status}}</td>
          <td><span id='clickableAwesomeFont' (click)="ViewOrder(item.Id)"><i class="far fa-eye"></i></span></td>
          <td><span id='clickableAwesomeFont' (click)="EditOrder(item.Id)"><i class="far fa-edit"></i></span></td>
          <td><span id='clickableAwesomeFont' (click)="DeleteOrder(item.Id)"><i class="fas fa-trash-alt" style="color:#a10606;"></i></span></td>
        </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="porders = $event" class="float-right"></pagination-controls>
    </div>
</div>

<ng-template #showorder>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Order Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="CloseModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="idforcustomer">Reference Number</label>
        <div class="input-group">
          <input type="text" id="idforcustomer" class="form-control" style="text-align: left" placeholder="idforcustomer" name="idforcustomer" 
          [(ngModel)]="idforcustomer">
        </div>
      </div>
      <div class="form-group">
        <label for="dateofpayment">Date</label>
        <div class="input-group">
          <input type="text" id="dateofpayment" class="form-control" style="text-align: left" placeholder="dateofpayment" name="dateofpayment"
          [(ngModel)]="dateofpayment" disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="city">Delivery City</label>
        <div class="input-group">
          <input type="text" id="city" class="form-control" style="text-align: left" placeholder="city" name="city"
          [(ngModel)]="city" disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="useremail">Email</label>
        <div class="input-group">
          <input type="text" id="useremail" class="form-control" style="text-align: left" placeholder="useremail" name="useremail"
          [(ngModel)]="useremail" disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <div class="input-group">
          <input type="text" id="phone" class="form-control" style="text-align: left" placeholder="phone" name="phone"
          [(ngModel)]="phone" disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="recepientname">Recepient's Name</label>
        <div class="input-group">
          <input type="text" id="recepientname" class="form-control" style="text-align: left" placeholder="recepientname" name="recepientname"
          [(ngModel)]="recepientname" disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="recepientphone">Recepient's Phone</label>
        <div class="input-group">
          <input type="text" id="recepientphone" class="form-control" style="text-align: left" placeholder="recepientphone" name="recepientphone"
          [(ngModel)]="recepientphone" disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="status">status</label>
        <div class="input-group">
          <input type="text" id="status" class="form-control" style="text-align: left" placeholder="status" name="status"
          [(ngModel)]="status">
        </div>
      </div>
      <div class="form-group">
        <label for="delivery">Order Type</label>
        <div class="input-group">
          <input type="text" id="delivery" class="form-control" style="text-align: left" placeholder="delivery" name="delivery"
          [(ngModel)]="delivery" disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="totalamount">Payment</label>
        <div class="input-group">
          <input type="text" id="totalamount" class="form-control" style="text-align: left" placeholder="totalamount" name="totalamount"
          [(ngModel)]="totalamount" disabled>
        </div>
      </div>
      <div class="form-group">
        <label for="totalamount">Products Ordered</label>
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Order Id</th>
            <th scope="col">Quantity</th>
            <th scope="col">Product ID</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of orderproductlist">
            <td>{{item.OrderId}}</td>
            <td>{{item.Quantity}}</td>
            <td>{{item.ProductID}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="SaveOrder()" [hidden]="!savebtn" [disabled]="!savebtnactive">Save</button>
  </div>
</ng-template>