<app-header></app-header>
<div class="row mt-5" height="100%" style="background-color: white">
  <div class="col-md-1"></div>
  <div class="col-md-9 col-sm-12">
  <section>
	<div class="maincontent mr-3">
		<div class="main">
		  <h1 data-aos="zoom-in" data-aos-duration="2000" style="text-align: center">Payment Details</h1>
		  <hr data-aos="zoom-in" data-aos-duration="2000">
		  <div class="row mt-5" [hidden]="paymentsuccess">
			  <div class="col-md-3"></div>
			  <div class="col-md-6 div3 col-sm-12" data-aos="zoom-out-up" data-aos-duration="3000">
				<form>
				  <div class="form-group">
					<label for="acceptedcards">Accepted Cards</label>
					<ul class="icons pl-0">
						<li><span><i class="fab fa-cc-visa cardicons mr-1" style="color:navy;"></i></span></li>
						<li><span><i class="fab fa-cc-amex cardicons mr-1" style="color:blue;"></i></span></li>
						<li><span><i class="fab fa-cc-mastercard cardicons mr-1" style="color:red;"></i></span></li>
						<li><span><i class="fab fa-cc-discover cardicons mr-1" style="color:orange;"></i></span></li>
					</ul>
				  </div>
				  <div class="form-group">
					<label for="price">Price ($)</label>
					<div class="input-group">
					  <input type="text" id="price" class="form-control" style="text-align: left" placeholder="price" name="price" 
					  [(ngModel)]="price" disabled>
					</div>
				  </div>
				  <div class="form-group">
					<label for="nameoncard">Name On Card</label>
					<div class="input-group">
					  <input type="text" id="nameoncard" class="form-control" style="text-align: left" placeholder="name on card" name="nameoncard"
					  [(ngModel)]="nameoncard" autocomplete="off">
					</div>
				  </div>
				  <div class="form-group">
					<label for="cardno">Card Number</label>
					<div class="input-group">
					  <span *ngIf="cardtype === 'Visa'">
					  <i class="fab fa-cc-visa cardicons mr-2 mt-2" style="color:navy;"></i>
					  </span>
					  <span *ngIf="cardtype === 'Mastercard'">
					  <i class="fab fa-cc-mastercard cardicons mr-2 mt-2" style="color:red;"></i>
					  </span>
					  <span *ngIf="cardtype === 'AMEX'">
					  <i class="fab fa-cc-amex cardicons mr-2 mt-2" style="color:blue;"></i>
					  </span>
					  <span *ngIf="cardtype === 'Discover'">
					  <i class="fab fa-cc-discover cardicons mr-2 mt-2" style="color:orange;"></i>
					  </span>
					  <span *ngIf="cardtype === 'Diners'">
					  <i class="fab fa-cc-diners-club cardicons mr-2 mt-2" style="color:navy;"></i>
					  </span>
					  <span *ngIf="cardtype === 'Diners - Carte Blanche'">
					  <i class="fab fa-cc-diners-club cardicons mr-2 mt-2" style="color:navy;"></i>
					  </span>
					  <span *ngIf="cardtype === 'JCB'">
					  <i class="fab fa-cc-jcb cardicons mr-2 mt-2" style="color:navy;"></i>
					  </span>
					  <span *ngIf="cardtype === 'Visa Electron'">
					  <i class="fab fa-cc-visa cardicons mr-2 mt-2" style="color:navy;"></i>
					  </span>
					  <input type="text" id="cardno" class="form-control" style="text-align: left" placeholder="card number" name="cardno"
					  [(ngModel)]="cardno" (keyup)="FormatCreditCard()" autocomplete="off">
					</div>
				  </div>
				  <div class="form-group">
					<label for="expmonth">Expiry</label>
					<div class="input-group">
					  <!-- <input type="text" id="expmonth" class="form-control" style="text-align: left" placeholder="month of expiry" name="expmonth"
					  [(ngModel)]="expmonth" (keyup)="FormatMonth()"> -->
					  <select (keyup)="FormatMonth()" [(ngModel)]="expmonth" id="expmonth" class="form-control select-control" style="text-align: left" placeholder="month of expiry" name="expmonth">
						  <option value='00'>month of expiry</option> 
						  <option value='01'>01</option>
						  <option value='02'>02</option>
						  <option value='03'>03</option>
						  <option value='04'>04</option>
						  <option value='05'>05</option>
						  <option value='06'>06</option>
						  <option value='07'>07</option>
						  <option value='08'>08</option>
						  <option value='09'>09</option>
						  <option value='10'>10</option>
						  <option value='11'>11</option>
						  <option value='12'>12</option>
					  </select>
					  <!-- <input type="text" id="expyear" class="form-control" style="text-align: left" placeholder="year of expiry" name="expyear"
					  [(ngModel)]="expyear" (keyup)="FormatYear()"> -->
					<select (keyup)="FormatYear()" [(ngModel)]="expyear" 
					  id="expyear" class="form-control select-control" style="text-align: left"
					   placeholder="year of expiry" name="expyear">
						<option *ngFor="let year of yearList" value="{{year}}">{{year}}</option>
					</select>
					</div>
				  </div>
				  <div class="form-group">
					<label for="cvv">CVV</label>
					<div class="input-group">
					  <input type="text" id="cvv" class="form-control" style="text-align: left" placeholder="cvv" name="cvv"
					  [(ngModel)]="cvv" (keyup)="FormatCVV()" autocomplete="off">
					</div>
				  </div>
				  <div class="form-group">
					  <button type="button" class="btn btn-outline-dark" (click)="CheckoutBtnClickEvent()" [disabled]="!savebtnactive">Pay</button>
				  </div>
				</form>
			  </div>
		  </div>
		  <div class="row mt-5" [hidden]="!paymentsuccess">
            <div class="col-md-3"></div>
            <div class="col-md-6 div5 col-sm-12">
              <form>
                <div class="form-group">
                  <label for="">Check your email for thr payment details</label>
				</div>
              </form>
            </div>
		  </div>
		</div>
	</div>
  </section>
  </div>
</div>
<footer>
    <div class="row justify-content-center mb-5">
      Copyright © 2021 Sri-Tel 
    </div>
</footer>