<div class="sidebar" id="sidebartoggle" [hidden]="!showSidebar">
    <span><a href="/"><img width="140px" height="140px" src="../../assets/images/cvd.png"></a></span>
    <span><a class="navtext" id="profile" (click)="Profile()"><i class="far fa-user mr-3"></i>  Hi {{name}}!</a></span>
    <span><a class="navtext" id="riskanalysis" (click)="RiskAnalysis()"><i class="fas fa-chart-pie mr-3"></i>  Risk Analysis</a></span>
    <span><a class="navtext" id="analysishistory" (click)="AnalysisHistory()"><i class="fas fa-history mr-3"></i> Analysis History</a></span>
    <span [hidden]="!isAdminDashboard"><a class="navtext" id="user" (click)="Users()"><i class="fas fa-users-cog mr-3"></i>  Users</a></span>
    <span [hidden]="!isAdminDashboard"><a class="navtext" id="banner" (click)="Banner()"><i class="fas fa-image mr-3"></i>  Banner Images</a></span>
    <span id="footer"><a class="navtext" (click)="Logout()"><i class="fas fa-sign-out-alt mr-3"></i>  Logout</a></span>
</div>
<div class="fixedbreadcrumb">
    <button class="openbtn" (click)="toggleSidebar()">☰</button> 
    <a class="navtext mt-2" style="margin-left: 15%;">/ {{sideBaritem}}</a>
</div>