 <div class="content" role="main">  
	<div class="card-container">
		<div class="wrapper fadeInDown">
			<div id="loginform" class="mt-5" [hidden]="loginformhidden"> 
			  <h3 class="mt-5 mb-3">Login</h3>
		  
			  <!-- Login Form -->
			  <form>
				<input type="text" id="username" class="fadeIn first" name="username" placeholder="username" [(ngModel)]="username">
				<input type="password" id="password" class="fadeIn second" name="login" placeholder="password" [(ngModel)]="password">
				<input type="button" class="fadeIn third" value="Log In" (click)="LoginBtnClickEvent()">
			  </form>
		  
			  <!-- Remind Passowrd -->
			  <div id="formFooter">
				
			  </div>
		  
			</div>

			<div id="otpform" class="mt-5" [hidden]="!loginformhidden">
				<h3 class="mt-5 mb-3">OTP</h3>
			
				<!-- Login Form -->
				<form>
				  <input type="text" id="otp" class="fadeIn first" [(ngModel)]="otp" name="otp" placeholder="otp">
				  <input type="button" class="fadeIn first" value="Submit" (click)="OTPBtnClickEvent()">
				</form>			
			</div>
		</div>
	</div>
  </div>  


