 <div class="content" role="main">  
	<div class="card-container">
		<div class="wrapper fadeInDown">
			<div id="loginform" class="mt-5 mb-5"> 
              <img class="mb-5 mt-5" width="100px" height="100px" src="../../assets/images/cvd.png">  
			  <h3 class="mb-3">Sign Up</h3>
		  
			  <!-- Login Form -->
			  <form style="align-content: center">
                <input type="text" id="fullname" class="fadeIn first" style="margin: 5px;padding: 15px 80px;font-size: 16px;" name="fullname" placeholder="name" [(ngModel)]="fullname">
                <input type="text" id="username" class="fadeIn second" style="margin: 5px;padding: 15px 80px;font-size: 16px;" name="username" placeholder="email" [(ngModel)]="username">
				<input type="text" id="phone" class="fadeIn second" style="margin: 5px;padding: 15px 80px;font-size: 16px;" name="phone" placeholder="phone" [(ngModel)]="phone">
                <input type="password" id="password" class="fadeIn third" style="margin: 5px;padding: 15px 80px;font-size: 16px;" name="password" placeholder="password" [(ngModel)]="password">
                <input type="password" id="confirmpassword" class="fadeIn third" style="margin: 5px;padding: 15px 80px;font-size: 16px;" name="confirmpassword" placeholder="confirm password" [(ngModel)]="confirmpassword">
				<input type="button" class="fadeIn third btnsubmit" value="Sign Up" (click)="RegisterBtnClickEvent()" [disabled]="!savebtnactive">
			  </form>
		  
			  <div id="formFooter">
				<a href="/">Go to Home</a>
			  </div>
		  
			</div>
		</div>
	</div>
  </div>  
  <footer>
    <div class="row justify-content-center mb-5">
		 
    </div>
</footer>

