<app-header></app-header>
<div class="row products-page">
</div>
<div class="row justify-content-center" style="background-color: white">
    <p style="padding-left: 70px;padding-top: 30px;">Home / Terms of Service</p>
    <div class="col-12">
      <section id="bgimage1" style="margin-top: 2%;">
        <div class="justify-content-center">
          <p class="textstylegery" style="color:#0d2878;font-weight:bold;font-size: 18px;padding-top: 0%;padding-bottom: 0%;margin-top: 0%;">
            Terms of Service
          </p>
          <div class="col-12">
              <div>
                  <div class="textstyleaboutus" style="color:rgb(137, 136, 142);font-size: 18px;text-align: left;">
                    At agrolinks.lk, we strive to ensure customer satisfaction with every purchase. If for any reason you are not completely satisfied with your purchase, we offer a hassle-free return policy
                    <ul>
                      <li>
                        Returns: You may return any product within 14 days of 
                        delivery for a full refund or exchange. To be eligible for a return, the product must be unused, 
                        in its original packaging, and in the same condition as when it was received
                      </li>
                      <li>
                        Exchanges: If you received a defective or damaged product, 
                        we will gladly exchange it for a new one. To request an exchange, 
                        please email us at info@agrolinks.lk with your order number and a description of the issue
                      </li>
                      <li>
                        Refunds: If you prefer a refund, 
                        we will issue a credit to your original method of payment 
                        within 7 business days of receiving the returned item. 
                        Shipping and handling fees are non-refundable.

                      </li>
                      <li>
                        Return Shipping:
                        The customer is responsible for return shipping costs 
                        unless the product is defective or damaged. We recommend using a trackable shipping service and 
                        purchasing shipping insurance as we cannot guarantee that we will receive your returned item                    
                      </li>
                      <li>
                        Cancellations: You may cancel an order before it has been processed and shipped. 
                        To cancel an order, please email us at info@agrolinks.lk with your order number and a request to cancel                   
                      </li>
                      <li>
                        Changes to this Return Policy: This policy is subject to change at any 
                        time without prior notice. Any updates or modifications will be posted on agrolinks.lk
                      </li>
                    </ul>
                    If you have any questions or concerns about our return policy, please contact us at info@agrolinks.lk
                  </div>
              </div>
          </div>
        </div>
    </section>
    </div>
</div>
<footer>
  <!-- <div class="row justify-content-center mb-5">
    Copyright © 2021 AgroLinks 
  </div> -->
  <div class="row justify-content-center footer-row2" style="padding-top: 0px;">
      <div class="col-12 footer-box2">
          <div class="row pt-5 justify-content-center">
              <div class="col-2 footercols mt-2 pr-5 justify-content-center">  
                  <a href="/"><img src="../../assets/images/agrolinklogo.png" class="footerlogo"></a>
                  <p class="pt-2 footertext">Agrolinks Company</p>
                  <p class="pt-3 footertextaddress">No 571, Highlevel Road, Delkanda, Nugegoda</p>
              </div>
              <div class="col-md-1 col-2 footercols pt-3" style="text-align: left">  
                  <p class="footertextheader">Main</p>
                  <p class="pt-2 footertext">Home</p>
                  <p class="footertext">About Us</p>
                  <p class="footertext">Contact Us</p>
              </div>
              <div class="col-md-1 col-2 footercols pt-3" style="text-align: left">  
                  <p class="footertextheader">More</p>
                  <p class="pt-2 footertext">Home</p>
                  <p class="footertext">About Us</p>
                  <p class="footertext">Contact Us</p>
              </div>
              <div class="col-md-1 col-2 footercols pt-3" style="text-align: left">  
                  <p class="footertextheader">Category</p>
                  <p class="pt-2 footertext">Home</p>
                  <p class="footertext">About Us</p>
                  <p class="footertext">Contact Us</p>
              </div>
              <div class="col-3 footercols2 mr-3 pt-3" style="text-align: right">  
                  <p class="footertext"><i class="fas fa-mobile-alt" style="color: #f8c67c" aria-hidden="true"></i>  + 94 77 178 7000 or +94 31 226 1205</p>
                  <p class="pt-2 footertext"><i class="fas fa-envelope" style="color: #f8c67c" aria-hidden="true"></i>  data.landmarkseeds@gmail.com</p>
                  <p class="pt-2 footertext">follow us on:</p>
                  <a href="/" class="p-2"><img class="socialmedia1" src="../../assets/images/navbar_and_banner_section/facebook1.png"></a>
                  <a href="/" class="p-2"><img class="socialmedia2" src="../../assets/images/navbar_and_banner_section/instagram1.png"></a>
                  <a href="/" class="p-2"><img class="socialmedia2" src="../../assets/images/navbar_and_banner_section/twitter1.png"></a>

              </div>
          </div>
          <div class="row justify-content-center mb-5">
            Copyright © 2021 AgroLinks 
          </div>
      </div>
  </div>
</footer>