<app-header></app-header>
<div class="row products-page">
</div>
<div class="row justify-content-center" style="background-color: white">
    <p style="padding-left: 70px;padding-top: 30px;">Home / Contact Us</p>
    <div class="col-12 divservices5">
      <section id="bgimage1" style="margin-top: 2%;">
        <div class="justify-content-center">
          <div class="row justify-content-center mb-5" style="padding-top: 8px">
            <div class="col-md-3 col-sm-12 divservices4 pb-5">
                <ul class="list-inline justify-content-center" style="text-align: center">
                  <li>
                    <span aria-hidden="true"><i class="fas fa-map-marker-alt fa-2x mb-2 mt-3" style="color:#0d2878"></i></span>
                      <h4 class="mb-5 mt-1 services-text2">Address</h4>
                      <p class="textstyleaboutus mt-3" style="color:rgb(134, 134, 136);font-size: 12px;">
                        <span>Katanawatta Road,<br/>Dankotuwa</span>
                      </p>
                  </li>
                </ul>
            </div>
            <div class="col-md-1 col-sm-12 pb-5">
            </div>
            <div class="col-md-3 col-sm-12 divservices4 pb-5">
                <ul class="list-inline justify-content-center" style="text-align: center">
                  <li>
                    <span aria-hidden="true"><i class="fas fa-mobile-alt fa-2x mb-2 mt-3" style="color:#0d2878"></i></span>
                      <h4 class="mb-5 mt-1 services-text2">Mobile</h4>
                      <p class="textstyleaboutus mt-3" style="color:rgb(134, 134, 136);font-size: 12px;">
                        <span>+ 94 77 178 7000</span>
                      </p>
                  </li>
                </ul>
            </div>
            <div class="col-md-1 col-sm-12 pb-5">
            </div>
            <div class="col-md-3 col-sm-12 divservices4 pb-5">
                <ul class="list-inline justify-content-center" style="text-align: center">
                  <li>
                    <span aria-hidden="true"><i class="fa fa-phone fa-2x mb-2 mt-3" style="color:#0d2878"></i></span>
                      <h4 class="mb-5 mt-1 services-text2">Telephone</h4>
                      <p class="textstyleaboutus mt-3" style="color:rgb(134, 134, 136);font-size: 12px;">
                        <span>+94 31 226 1205</span>
                      </p>
                  </li>
                </ul>
            </div>
          </div>
        </div>
        <div class="justify-content-center">
          <div class="row justify-content-center mb-5" style="padding-top: 8px">
            <div class="col-12">
            <p class="textstylegery" style="color:#0d2878;font-weight:bold;font-size: 30px;padding-top: 0%;padding-bottom: 0%;margin-top: 0%;">
              Have Questions?
            </p>
            <p class="textstylegery" style="color:#52b788;font-weight:bold;font-size: 30px;padding-top: 0%;padding-bottom: 0%;margin-top: 0%;">
              Let's Talk<span style="color:#0d2878;">.</span>
            </p>
              <form style="align-content: center">
                <input type="text" id="fullname" class="fadeIn first inputwidth" name="fullname" placeholder="name" [(ngModel)]="fullname">
                <input type="text" id="email" class="fadeIn second inputwidth" name="email" placeholder="email" [(ngModel)]="email">
                <textarea id="message" class="fadeIn third inputwidth textareastyle" name="message" placeholder="message" [(ngModel)]="message" rows="5"></textarea>
                <div class="row justify-content-center">
                    <input type="button" class="fadeIn third sendbutton" value="Send" (click)="ContactUsBtnClickEvent()">
                </div>
              </form>
            </div>
          </div>
      </div>
    </section>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 footer-box1-about-us ml-5 mr-5">
        <p class="textstylewhite">Let's Stay In Touch</p>
        <p style="color:white;">All our latest products and news for agriculture needs delivered to your inbox a few times a month</p>
    </div>
</div>
<footer>
  <!-- <div class="row justify-content-center mb-5">
    Copyright © 2021 AgroLinks 
  </div> -->
  <div class="row justify-content-center footer-row2" style="padding-top: 0px;">
      <div class="col-12 footer-box2">
          <div class="row pt-5 justify-content-center">
              <div class="col-2 footercols mt-2 pr-5 justify-content-center">  
                  <a href="/"><img src="../../assets/images/agrolinklogo.png" class="footerlogo"></a>
                  <p class="pt-2 footertext">Agrolinks Company</p>
                  <p class="pt-3 footertextaddress">No 571, Highlevel Road, Delkanda, Nugegoda</p>
              </div>
              <div class="col-md-1 col-2 footercols pt-3" style="text-align: left">  
                  <p class="footertextheader">Main</p>
                  <p class="pt-2 footertext">Home</p>
                  <p class="footertext">About Us</p>
                  <p class="footertext">Contact Us</p>
              </div>
              <div class="col-md-1 col-2 footercols pt-3" style="text-align: left">  
                  <p class="footertextheader">More</p>
                  <p class="pt-2 footertext">Home</p>
                  <p class="footertext">About Us</p>
                  <p class="footertext">Contact Us</p>
              </div>
              <div class="col-md-1 col-2 footercols pt-3" style="text-align: left">  
                  <p class="footertextheader">Category</p>
                  <p class="pt-2 footertext">Home</p>
                  <p class="footertext">About Us</p>
                  <p class="footertext">Contact Us</p>
              </div>
              <div class="col-3 footercols2 mr-3 pt-3" style="text-align: right">  
                  <p class="footertext"><i class="fas fa-mobile-alt" style="color: #f8c67c" aria-hidden="true"></i>  + 94 77 178 7000 or +94 31 226 1205</p>
                  <p class="pt-2 footertext"><i class="fas fa-envelope" style="color: #f8c67c" aria-hidden="true"></i>  data.landmarkseeds@gmail.com</p>
                  <p class="pt-2 footertext">follow us on:</p>
                  <a href="/" class="p-2"><img class="socialmedia1" src="../../assets/images/navbar_and_banner_section/facebook1.png"></a>
                  <a href="/" class="p-2"><img class="socialmedia2" src="../../assets/images/navbar_and_banner_section/instagram1.png"></a>
                  <a href="/" class="p-2"><img class="socialmedia2" src="../../assets/images/navbar_and_banner_section/twitter1.png"></a>

              </div>
          </div>
          <div class="row justify-content-center mb-5">
            Copyright © 2021 AgroLinks 
          </div>
      </div>
  </div>
</footer>