<app-header></app-header>
<div class="row page-banner">
</div>
<div class="row justify-content-center" style="background-color: white">
    <p style="padding-left: 70px;padding-top: 20px;">Home / About</p>
    <div class="col-12">
      <section id="bgimage1" style="margin-top: 2%;">
        <div class="justify-content-center">
          <p class="textstylegery" style="color:#0d2878;font-weight:bold;font-size: 18px;padding-top: 0%;padding-bottom: 0%;margin-top: 0%;">
            Understanding the Cardiovascular Risks in Mental Illness
          </p>
          <div class="col-12">
              <div class="justify-content-center">
                  <p class="textstyleaboutus" style="color:rgb(137, 136, 142);font-size: 18px;">
                    The aim and objectives of this study is 
                    to examine the relationship between mental 
                    health disorders and CVD, including the 
                    common risk factors contributing to the 
                    development of both conditions and to build
                     a system to predict the risk factor of having 
                     Cardiovascular Diseases when having mental 
                     illnesses considering a data set and training 
                     them using machine learning methods
                  </p>
              </div>
          </div>
          <div class="row justify-content-center mb-5" style="padding-top: 8px">
            <div class="col-md-2 col-sm-12 divservices3 pb-5">
                <ul class="list-inline justify-content-center" style="text-align: center">
                  <li>
                    <span aria-hidden="true"><i class="fas fa-mobile-alt fa-2x mb-2 mt-3" style="color:#0d2878"></i></span>
                      <h4 class="mb-5 mt-1 services-text2">Mobile</h4>
                  </li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-12 divservices3 pb-5">
                <ul class="list-inline justify-content-center" style="text-align: center">
                  <li>
                    <span aria-hidden="true"><i class="fa fa-phone fa-2x mb-2 mt-3" style="color:#0d2878"></i></span>
                      <h4 class="mb-5 mt-1 services-text2">Telephone</h4>
                  </li>
                </ul>
            </div>
        </div>
        </div>
    </section>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-12 footer-box1-about-us ml-5 mr-5">
        <p style="color:white;" class="justify-content-center mt-5"></p>
    </div>
</div>
