<app-header></app-header>
<div class="row products-page">
</div>
<div class="row justify-content-center" style="background-color: white">
    <p style="padding-left: 70px;padding-top: 30px;">Home / Services</p>
    <div class="col-12">
    <section class="section-custom">
      <div class="justify-content-center">
        <p class="textstylegery" style="color:#0d2878;font-weight:bold;font-size: 18px;padding-top: 0%;padding-bottom: 0%;margin-top: 0%;">
          What we provide in AgroLinks
        </p>
        <div class="row justify-content-center mb-5" style="padding-top: 8px">
            <div class="col-2 divservices2 pb-5">
                <ul class="list-inline justify-content-center" style="text-align: center">
                  <li>
                      <img class="service-icon6 mt-3 mb-2" src="../../assets/images/total_service_provider_section/Planting.png">
                      <h4 class="mb-5 mt-1 services-text" style="color:black">Consultancy</h4>
                  </li>
                </ul>
            </div>
            <div class="col-2 divservices2 pb-5">
                <ul class="list-inline justify-content-center" style="text-align: center">
                  <li>
                      <img class="service-icon6 mt-3 mb-2" src="../../assets/images/total_service_provider_section/irrigation.png">
                      <h4 class="mb-5 mt-1 services-text" style="color:black">Irrigation</h4>
                  </li>
                </ul>
            </div>
            <div class="col-2 divservices2 pb-5">
                <ul class="list-inline justify-content-center" style="text-align: center">
                  <li>
                      <img class="service-icon6 mt-3 mb-2" src="../../assets/images/total_service_provider_section/Fertilizer.png">
                      <h4 class="mb-5 mt-1 services-text" style="color:black">Fertilizer</h4>
                  </li>
                </ul>
            </div>
            <div class="col-2 divservices2 pb-5">
                <ul class="list-inline justify-content-center" style="text-align: center">
                  <li>
                      <img class="service-icon6 mt-3 mb-2" src="../../assets/images/total_service_provider_section/plant-pot.png">
                      <h4 class="mb-5 mt-1 services-text" style="color:black">Growing Pots</h4>
                  </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center mb-5" style="padding-top: 8px">
          <div class="col-2 divservices2 pb-5">
              <ul class="list-inline justify-content-center" style="text-align: center">
                <li>
                    <img class="service-icon6 mt-3 mb-2" src="../../assets/images/total_service_provider_section/chemicals.png">
                    <h4 class="mb-5 mt-1 services-text" style="color:black">Chemicals</h4>
                </li>
              </ul>
          </div>
          <div class="col-2 divservices2 pb-5">
              <ul class="list-inline justify-content-center" style="text-align: center">
                <li>
                    <img class="service-icon6 mt-3 mb-2" src="../../assets/images/total_service_provider_section/orgproducts.png">
                    <h4 class="mb-5 mt-1 services-text" style="color:black">Organic Products</h4>
                </li>
              </ul>
          </div>
          <div class="col-2 divservices2 pb-5">
              <ul class="list-inline justify-content-center" style="text-align: center">
                <li>
                    <img class="service-icon6 mt-3 mb-2" style="width: 65px;" src="../../assets/images/total_service_provider_section/agriinstruments.png">
                    <h4 class="mb-5 mt-1 services-text" style="color:black">Agri Instruments</h4>
                </li>
              </ul>
          </div>
          <div class="col-2 divservices2 pb-5">
              <ul class="list-inline justify-content-center" style="text-align: center">
                <li>
                    <img class="service-icon6 mt-3 mb-2" src="../../assets/images/total_service_provider_section/seeds.png">
                    <h4 class="mb-5 mt-1 services-text" style="color:black">Seeds</h4>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </section>
    </div>
</div>
<footer>
    <div class="row justify-content-center mb-5">
      Copyright © 2021 AgroLinks 
    </div>
</footer>