<app-header></app-header>
<div class="row" style="height: 60%;text-align: center;">
</div>
<div class="row" style="background-color: white">
<div class="col-1"></div>
<div class="col-10">
<section>
    <div style="text-align: center">
        <h1 data-aos="zoom-in" data-aos-duration="2000">Services</h1>
        <hr data-aos="zoom-in" data-aos-duration="2000">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 col-sm-12 div3 mb-5" data-aos="zoom-in" data-aos-duration="3000">
                <h2 style="margin-top: 5%;">Yoga</h2>
                <hr style="height:1px;">
                <p style="margin-top: 2%;word-wrap:break-word;">Yoga en groupe</p>
                <p style="margin-top: 2%;word-wrap:break-word;">Yoga individuel (adapté et personnalisé)</p>
                <p style="margin-top: 2%;word-wrap:break-word;">Yoga online (zoom or teams)</p>
                <p style="margin-top: 2%;word-wrap:break-word;">Video de yoga en ligne (autonome)</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 col-sm-12 div3 mb-5" data-aos="zoom-in" data-aos-duration="3000">
                <h2 style="margin-top: 5%;word-wrap:break-word;">Conscience Profonde</h2>
                <hr style="height:1px;">
                <p style="margin-top: 2%;word-wrap:break-word;">Meditation</p>
                <p style="margin-top: 2%;word-wrap:break-word;">Nidra</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 col-sm-12 div3 mb-5" data-aos="zoom-in" data-aos-duration="3000">
                <h2 style="margin-top: 5%;word-wrap:break-word;">Ateliers</h2>
                <hr style="height:1px;">
                <p style="margin-top: 2%;word-wrap:break-word;">Initiation au yoga</p>
            </div>
        </div>
    </div>
</section>
</div>
</div>