<nav>
	<app-header></app-header>
</nav>
<app-sidebar></app-sidebar>

<div class="maincontent">
    <div class="main">
    <input type="button" class="float-right" style="padding: 10px 40px;margin-bottom: 10px;margin-right: 1px;text-transform: uppercase;
    overflow: hidden;" value="Create New User" (click)="CreateUser()">
    <table>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Phone</th>
          <th>Status</th>
          <th>View</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let item of userlist">
          <td>{{item.name}}</td>
          <td>{{item.address}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.active}}</td>
          <td><span id='clickableAwesomeFont' (click)="ViewUser(item.id)"><i class="far fa-eye"></i></span></td>
          <td><span id='clickableAwesomeFont' (click)="EditUser(item.id)"><i class="far fa-edit"></i></span></td>
          <td><span id='clickableAwesomeFont' (click)="DeleteUser(item.id)"><i class="fas fa-trash-alt"></i></span></td>
        </tr>
      </table>
    </div>
</div>


<ng-template #createnewuser>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">User Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="CloseModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="fullname">Name</label>
        <div class="input-group">
          <input type="text" id="fullname" class="form-control" style="text-align: left" placeholder="name" name="fullname" 
          [(ngModel)]="fullname">
        </div>
      </div>
      <div class="form-group">
        <label for="nic">NIC</label>
        <div class="input-group">
          <input type="text" id="nic" class="form-control" style="text-align: left" placeholder="NIC" name="nic"
          [(ngModel)]="nic">
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input type="text" style="text-align: left" id="dob" class="form-control" placeholder="yyyy-mm-dd" name="dob" 
          [(ngModel)]="dob" ngbDatepicker #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="address">Address</label>
        <div class="input-group">
          <input type="text" id="address" class="form-control" style="text-align: left" placeholder="address" name="address"
          [(ngModel)]="address">
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <div class="input-group">
          <input type="text" id="phone" class="form-control" style="text-align: left" placeholder="phone" name="phone"
          [(ngModel)]="phone">
        </div>
      </div>
      <div class="form-group">
        <label for="username">Email</label>
        <div class="input-group">
          <input type="text" id="username" class="form-control" style="text-align: left" placeholder="username" name="username"
          [(ngModel)]="username">
        </div>
      </div>
      <div class="form-group">
        <label for="status">Status</label>
        <div class="input-group">
            <input type="radio" [(ngModel)]="status" id="active" name="status" value="active">
            <label for="active" class="mt-2 mr-5">Active</label><br>
            <input type="radio" [(ngModel)]="status" id="deactive" name="status" value="deactive">
            <label for="deactive" class="mt-2">Deactive</label><br>
        </div>
      </div>
      <div class="form-group">
          <label for="status">User Role</label>
          <div class="input-group">
              <input type="radio" [(ngModel)]="userrole" id="user" name="userrole" value="user">
              <label for="user" class="mt-2 mr-5">User</label><br>
              <input type="radio" [(ngModel)]="userrole" id="admin" name="userrole" value="admin">
              <label for="admin" class="mt-2">Admin</label><br>
          </div>
      </div>
      <div class="form-group">
        <label for="accesscontrolval">Access Controls</label>
        <div class="input-group ml-3">
          <div *ngFor="let accesscontrol of syslist">
            <input type="checkbox" [checked]="accesscontrol.Checked" (click)="SelectedSystem($event,accesscontrol.Id)" id="accesscontrol.syetemName" name="accesscontrol.syetemName" value="accesscontrol.id">
            <label for="accesscontrolval" class="mt-2 mr-5 ml-1">{{accesscontrol.SystemName}}</label><br>
          </div>
        </div>
    </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="SaveUser()" [hidden]="!savebtn">Save</button>
  </div>
</ng-template>