<app-header></app-header>
<div class="row page-banner">
</div>
<div class="row justify-content-center" style="background-color: white">
    <p style="padding-left: 70px;padding-top: 20px;">Home / Factors</p>
    <div class="col-12">
    <section class="section-custom">
      <div class="justify-content-center">
        <p class="textstylegery" style="color:#0d2878;font-weight:bold;font-size: 18px;padding-top: 0%;padding-bottom: 0%;margin-top: 0%;">
          Here are the factors we use to predict the cardiovascular diseases and stroke risks
        </p>
        <div class="row justify-content-center mb-5" style="padding-top: 8px">
            <div class="col-2 divservices2 pb-5">
                <ul class="list-inline justify-content-center" style="text-align: center">
                  <li>
                      <img class="service-icon6 mt-3 mb-2" src="../../assets/images/factors/bmi.png" style="width: 60%;height: 50%;">
                      <h4 class="mb-5 mt-1 services-text" >BMI</h4>
                      <h4 class="mb-5 mt-1 services-text2" >Body Mass Index</h4>
                  </li>
                </ul>
            </div>
            <div class="col-2 divservices2 pb-5">
                <ul class="list-inline justify-content-center" style="text-align: center">
                  <li>
                      <img class="service-icon6 mt-3 mb-2" src="../../assets/images/factors/smoking.png" style="width: 50%;;height: 100%;">
                      <h4 class="mb-5 mt-1 services-text" >Smoking</h4>
                      <h4 class="mb-5 mt-1 services-text2" >Have you smoked at least 100 cigarettes in your entire life?</h4>
                  </li>
                </ul>
            </div>
            <div class="col-2 divservices2 pb-5">
                <ul class="list-inline justify-content-center" style="text-align: center">
                  <li>
                      <img class="service-icon6 mt-3 mb-2" src="../../assets/images/factors/alchohol.png" style="width: 40%;height: 50%;">
                      <h4 class="mb-5 mt-1 services-text" >Alcohol Consumption</h4>
                      <h4 class="mb-5 services-text2" >How is your Alcohol Consumption?</h4>
                  </li>
                </ul>
            </div>
            <div class="col-2 divservices2 pb-5">
                <ul class="list-inline justify-content-center" style="text-align: center">
                  <li>
                      <img class="service-icon6 mt-3 mb-2" src="../../assets/images/factors/physicalhealth.png" style="width: 40%;height: 50%;">
                      <h4 class="mb-5 mt-1 services-text" >Physical Health</h4>
                      <h4 class="mb-5 mt-1 services-text2" >for how many days during the past 30 days was your physical health not good?</h4>
                  </li>
                </ul>
            </div>
        </div>
        <div class="row justify-content-center mb-5" style="padding-top: 8px">
          <div class="col-2 divservices2 pb-5">
              <ul class="list-inline justify-content-center" style="text-align: center">
                <li>
                    <img class="service-icon6 mt-3 mb-2" src="../../assets/images/factors/mentalhealth.png" style="width: 40%;height: 50%;">
                    <h4 class="mb-5 mt-1 services-text" >Mental Health</h4>
                    <h4 class="mb-5 mt-1 services-text2" >for how many days during the past 30 days was your mental health not good?</h4>
                </li>
              </ul>
          </div>
          <div class="col-2 divservices2 pb-5">
              <ul class="list-inline justify-content-center" style="text-align: center">
                <li>
                    <img class="service-icon6 mt-3 mb-2" src="../../assets/images/factors/genhealth.png" style="width: 40%;height: 50%;">
                    <h4 class="mb-5 mt-1 services-text" >General Health</h4>
                    <h4 class="mb-5 mt-1 services-text2" >Would you say that in general your health is?</h4>
                </li>
              </ul>
          </div>
          <div class="col-2 divservices2 pb-5">
              <ul class="list-inline justify-content-center" style="text-align: center">
                <li>
                    <img class="service-icon6 mt-3 mb-2" src="../../assets/images/factors/physicalactivity.png" style="width: 40%;height: 50%;">
                    <h4 class="mb-5 mt-1 services-text" >Physical Activity</h4>
                    <h4 class="mb-5 mt-1 services-text2" >Have you done any physical activity or exercise during the past 30 days?</h4>
                </li>
              </ul>
          </div>
          <div class="col-2 divservices2 pb-5">
              <ul class="list-inline justify-content-center" style="text-align: center">
                <li>
                    <img class="service-icon6 mt-3 mb-2" src="../../assets/images/factors/sleeptime.png" style="width: 40%;height: 50%;">
                    <h4 class="mb-5 mt-1 services-text" >Sleep Time</h4>
                    <h4 class="mb-5 mt-1 services-text2" >Hours per day</h4>
                </li>
              </ul>
          </div>
        </div>
      </div>
    </section>
    </div>
</div>
<div class="row justify-content-center">
  <div class="col-12 footer-box1-about-us ml-5 mr-5">
      <p style="color:white;" class="justify-content-center mt-5"></p>
  </div>
</div>